<!-- <div style="display: block; padding: 5%; box-shadow: black; width: 450px; z-index: 10;"> -->
<!-- class="flex justify-center items-center min-h-screen bg-gray-100" -->
<!-- <div style="justify-content: center; align-content: center; border: saddlebrown;"> -->
<!-- class="w-full max-w-md bg-white shadow-lg rounded-lg p-6" -->
<!-- <h2> -->
<!-- class="text-2xl font-bold text-center mb-4" -->
<!-- Login -->
<!-- </h2> -->

<!-- <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" style="display: flex; flex-direction: column; gap: 1rem;"> -->
<!-- User Type Dropdown -->
<!-- 
      class="mb-4"
       -->
<!-- <div> -->
<!-- <label class="block text-base font-medium text-gray-700">User Type</label> -->
<!-- class="w-full h-10 p-2" -->

<!-- <p-dropdown 
            [options]="userTypes"
            formControlName="userType" 
            placeholder="Select User Type"
            class="!w-full h-10 p-2"
            >
          </p-dropdown> -->
<!-- <div *ngIf="loginForm.controls.userType.touched && loginForm.controls.userType.invalid" class="text-red-600 text-sm">User Type is required</div> -->
<!-- </div> -->

<!-- Username -->
<!-- class="mt-1 block w-full h-10 p-2 rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" -->

<!-- <div class="mb-4"> -->
<!-- class="block text-base font-medium text-gray-700" -->
<!-- <label>Username</label> -->
<!-- class="w-full h-10 p-2" -->
<!-- <input
          pInputText
          type="text"
          formControlName="username"
          placeholder="Enter your username"
        /> -->
<!-- <div *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid" class="text-red-600 text-sm">Username is required</div> -->
<!-- </div> -->
<!-- <p-floatLabel>
          <input id="username" type="text" pInputText [(ngModel)]="value" />
          <label for="username">Username</label>
      </p-floatLabel> -->
<!-- Password -->
<!-- class="mt-1 h-10 block w-full p-2 rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" -->

<!-- <div> -->
<!-- 
        class="mb-4" -->
<!-- <label
          >Password -->
<!-- class="block text-base font-medium text-gray-700" -->
<!-- </label> -->
<!-- class="w-full h-10 p-2" -->

<!-- <input
          pInputText
          type="password"
          formControlName="password"
          placeholder="Enter your password"
        /> -->
<!-- <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid" class="text-red-600 text-sm">Password is required</div> -->
<!-- </div> -->

<!-- Login Button -->
<!-- 
        class="!w-full py-2 px-4 !h-10 rounded-md bg-teal-500 text-white hover:bg-teal-600 disabled:bg-gray-400 disabled:cursor-not-allowed"
       -->
<!-- <p-button 
          type="submit" 
          class="w-full bg-red-700 text-white py-2 px-4 rounded-md hover:bg-indigo-700 disabled:bg-gray-400 disabled:cursor-not-allowed" 
          [disabled]="loginForm.invalid">
          Login
        </p-button> -->
<!-- <p-button
        type="submit"
        [disabled]="loginForm.invalid"
        label="Login"
      /> -->
<!-- </form> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="login-container">
  <p-toast />
  <p-card header="Login" styleClass="login-card">
    <div class="form-group">
      <label for="username">Username</label>
      two binding [(ngModel)]
      <input
        pInputText
        id="username"
        [(ngModel)]="username"
        placeholder="Enter your username"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        pInputText
        id="password"
        [(ngModel)]="password"
        type="password"
        feedback="false"
        placeholder="Enter your password"
      />
    </div>
    <div class="form-buttons">
      <button
        pButton
        [disabled] = "username === '' || password ===''"
        type="button"
        label="Login"
        icon="pi pi-sign-in"
        (click)="onLogin()"
      ></button>
    </div>
  </p-card>
</div> -->
<p-card header="Login" styleClass="login-card">
  <div class="role-selection">
    <p-button 
      label="Admin" 
      icon="pi pi-user" 
      (click)="selectRole('Admin')" 
      [class]="selectedRole === 'Admin' ? 'selected-button' : ''">
    </p-button>
    <p-button 
      label="Vendor" 
      icon="pi pi-cog" 
      (click)="selectRole('Vendor')" 
      [class]="selectedRole === 'Vendor' ? 'selected-button' : ''">
    </p-button>
    <p-button 
      label="Customer" 
      icon="pi pi-users" 
      (click)="selectRole('Customer')" 
      [class]="selectedRole === 'Customer' ? 'selected-button' : ''">
    </p-button>
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input pInputText id="username" [(ngModel)]="username" placeholder="Enter your username" />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input pInputText id="password" [(ngModel)]="password" type="password" placeholder="Enter your password" />
  </div>

  <div class="form-buttons">
    <p-toast/>
    <button pButton 
            [disabled]="!username || !password || !selectedRole" 
            type="button" 
            label="Login" 
            icon="pi pi-sign-in" 
            (click)="onLogin()">
    </button>
  </div>
</p-card>
