/**
 * NAME: Aththanayake Lithira Senath Dasnaka Fernando
 * UoW ID: w1959880
 * IIT ID: 20223095
 */

.dynamic-form{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-items:center ;
    max-width: 1000px;
}
.form-group{
    display: flex;
    gap: 5px;
    align-items: center;
}

