<!-- 
  NAME: Aththanayake Lithira Senath Dasnaka Fernando
  UoW ID: w1959880
  IIT ID: 20223095 -->

<main class="main">
    <div class="content">
      <img
        src="assets/WelcomePageBackground.svg"
        alt="Welcome Page Background"
      />
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div>
        <h1>Hello, Lithira</h1>
        <p>As whom are you accessing the event ticketing app?. 😉</p>
        
        <div class="pill-group">
          <a
            *ngFor="let item of items; trackBy: trackByTitle"
            class="pill"
            routerLinkActive="active"
            rel="noopener"
            [href]="item.link"
            [routerLink]="item.link"
            ariaCurrentWhenActive="page"
          >

            <span>{{ item.title }}</span>
          </a>
        </div>
        
      </div>
    </div>
</main> 

